src/main/mule/implementation/healthcheck.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="healthcheckFlow" doc:id="be353f78-a7a1-4101-a963-b59aa4a5023d" >
		<http:request method="GET" doc:name="health check" doc:id="2ccb3009-55c1-46ba-b4d1-234ee06d9694" config-ref="HTTP_Request_configuration" path="${health.path}">
			<http:headers ><![CDATA[#[{
	client_id: Mule::p('secure::anypoint.clientid'),
	client_secret: Mule::p('secure::anypoint.clientsecrt')
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="health check reponse" doc:id="ecc6ed83-3e42-4eac-b0da-b8c26df15ce5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"apiName": Mule::p('application.name'),
	"status": "up",
	"dependencies": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
