src/main/mule/implementation/mail-request.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mail-requestFlow" doc:id="b843158a-c122-47e4-b1f9-df5b56d6e856" >
		<email:listener-imap doc:name="mail read from the inbox" doc:id="30b68487-a0db-4acb-a687-e95ae8a7debb" config-ref="New_Email_listener">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</email:listener-imap>
		<ee:transform doc:name="set the correlationId" doc:id="cc79d417-2438-4efd-b500-09d3543e0533" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/json
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="logger inputPayload" doc:id="1e13f65b-926b-410a-b821-6ec053301020" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/json
---
{
    correlationId : vars.correlationId,
    businessProcessName: flow.name,
    flowName: flow.name,  
    source: Mule::p('application.name'),
    target: Mule::p('application.target'),
    httpMethod: attributes.method,
    message: "Received response from the mail",
    businessObject: payload
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mile-log:request-received" doc:id="4032d29b-df13-42cb-9a6b-d715252ace84" name="mile-log:request-received"/>
		<ee:transform doc:name="converting into java format" doc:id="85868916-76a8-4e00-8eee-7a1cf0e37ad9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="converting into json format" doc:id="4f052981-7b10-40f6-9b19-2a7adb705783" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var message = read(((payload.body splitBy "<")[0] as String replace /"\&# 34;/ with '"'))
---
message]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="processing each request parallal" doc:id="ebe1765d-a0ad-4b64-b395-71cfc250ee30" >
			<route >
				<ee:transform doc:name="customer details" doc:id="94b2c19b-7530-4bfe-baa6-e9a2bb7a9ad8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "CName": payload.CName[0],
    "CPhone": payload.CPhone[0],
    "CMail": payload.CMail[0],
    "CStatus": payload.CStatus[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="calling customerRegistrationImp flow" doc:id="2c932a78-dddf-4c2d-a94c-8d9d9366ff45" name="customerRegistrationImp"/>
			</route>
			<route >
				<ee:transform doc:name="order/items details" doc:id="f3872e5d-fb4e-4d63-a5c0-404f6ce14dfc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    CID: payload.CID[0],
    orderDetails: payload.orderDetails[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="calling orderPlacing flow" doc:id="3ad93b4d-4475-4f2d-b624-03bde666dee4" name="orderPlacing"/>
			</route>
			<route >
				<ee:transform doc:name="orderId" doc:id="0bcffe4e-efb0-431b-90dd-bdd3cdec4303" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    orderId: payload.orderId[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="calling orderDetails flow" doc:id="b35eb645-7b67-4737-9817-f1e046ebe73e" name="orderDetails"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="logger inputPayload" doc:id="6f249b8e-e7d7-4848-925e-6eab3957f2e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/json
---
{
    correlationId : vars.correlationId,
    businessProcessName: flow.name,
    flowName: flow.name,  
    source: Mule::p('application.name'),
    target: Mule::p('application.target'),
    httpMethod: attributes.method,
    message: "Received Successfully response from the system api's",
    businessObject: payload
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mile-log:failure-response-received" doc:id="5a514612-b5cd-4475-b6ca-96263c969a59" name="mile-log:failure-response-received"/>
		<error-handler ref="error-handler" />
	</flow>
	<sub-flow name="mail-requestSub_Flow" doc:id="adb0b3f5-cd63-42bf-ac54-cf06023649ae" />
</mule>
