src/main/mule/implementation/mq-consume-request.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mq-consume-requestFlow" doc:id="cd3716ea-2fc5-4e60-a6b0-543d3e645518">
		<anypoint-mq:subscriber doc:id="44c694c1-0d86-4f1c-915b-181d22193181" config-ref="Anypoint_MQ_Config" destination="customer-order-details" doc:name="customer-order-details queue"/>
		<ee:transform doc:name="set the correlationId" doc:id="6746b923-98df-482a-aa05-f144e94030ee" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/json
---
uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="logger inputPayload" doc:id="c91746d7-241b-4ce4-8caa-96a8ed550800" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/json
---
{
    correlationId : vars.correlationId,
    businessProcessName: flow.name,
    flowName: flow.name,  
    source: Mule::p('application.name'),
    target: Mule::p('application.target'),
    httpMethod: attributes.method,
    message: "Received the Payload from the message queue",
    businessObject: payload
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mile-log:request-received" doc:id="3a484bca-e0b6-46a5-b14b-90f29a26be4c" name="mile-log:request-received" />
		<scatter-gather doc:name="processing each request parallal" doc:id="4129b29e-1510-4747-b971-20c9b97da94f" >
			<route >
				<try doc:name="Try" doc:id="e85dd5a9-a1f1-442d-9206-b092c1dfe782">
					<ee:transform doc:name="customer details" doc:id="d4abbb44-b124-41e9-beab-e43b7a0bd889">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "CName": payload.CName[0],
    "CPhone": payload.CPhone[0],
    "CMail": payload.CMail[0],
    "CStatus": payload.CStatus[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<flow-ref doc:name="calling subflow customerRegistration" doc:id="2480a8fd-6389-4cfe-a678-ce12618c292c" name="customerRegistrationImp" />

				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="75ed83c8-9c32-4dfd-9374-bb4073b35e61" >
					<ee:transform doc:name="order/items details" doc:id="7de6b37b-0c9f-4413-8d8f-e2abfa7c79c8">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    CID: payload.CID[0],
    orderDetails: payload.orderDetails[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<flow-ref doc:name="calling subflow orderPlacing" doc:id="c4bfaf9a-0709-486b-a5d6-c2fbed89a47a" name="orderPlacing" />
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="a06a4a4c-45e2-4764-a5b1-d1003825ecb3" >
					<ee:transform doc:name="orderId" doc:id="e09822eb-a2f2-4a2b-b42e-40d5ded05197">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    orderId: payload.orderId[0]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<flow-ref doc:name="calling the subflow orderDetails" doc:id="db5ba82f-d6b3-4b86-b511-b7c0a62df0bd" name="orderDetails" />
				
</try>
			</route>
		
</scatter-gather>
		<ee:transform doc:name="logger inputPayload" doc:id="bea08a60-c025-46a2-91bd-d000f20bee67" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputPayload" ><![CDATA[%dw 2.0
output application/json
---
{
    correlationId : vars.correlationId,
    businessProcessName: flow.name,
    flowName: flow.name,  
    source: Mule::p('application.name'),
    target: Mule::p('application.target'),
    httpMethod: attributes.method,
    message: "Received the success response from system api's",
    businessObject: payload
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="mile-log:success-response-received" doc:id="53f5d8b3-e57d-444d-af25-270233e7e42c" name="mile-log:success-response-received"/>
	</flow>
</mule>
